*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hero{
	max-height: 100%;
	max-width: 100%;
	background-image: url(background_szilvi.jpg) no-repeat;
    background-position: 100% 100% center;
    background-size: 1920px 950px;
}
@media (min-width: 320px) {

	.hero {
	  background: url(background_szilvi.jpg) no-repeat center/cover;
	}
  
  }

ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
}

.slideshow{
	width: 100%;
	position: relative;
	margin-bottom: 10rem;
	
}
.slider li, ul{
	width: auto;
	}

.slider li{
	overflow: hidden;
		}

.slider li img{
	width: 100%;
	}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0.5rem;
	left: 0;
	padding: 0.938rem 3.125rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 12rem;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption .title-photo{
	font-size: 2.5rem;
	color: #9b0917;
	font-family: 'Playfair Display SC', serif;
}

.slider .caption p{
	margin-top: 0.625rem;
	font-size: 1.25rem;
	font-family: 'BioRhyme', serif;
}

.pagination{
	position: absolute;
	top: 98%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 1.25rem;
	margin: 0.125rem 0.313rem;
	color: #659418;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #659418;
	font-size: 2.188rem;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 0.625rem;
}

.right{
	right: 0.625rem;
}


@media screen and (max-width: 320px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 2.188rem;
	}

	.left, .right{
		font-size: 1.875rem;
	}

	.slider li img{
		width: 37.5rem;
	}

	.pagination{
		display: none;
	}
}