*{
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display SC', serif;
	box-sizing: border-box;
}
.hero{
	max-height: 100%;
	max-width: 100%;
	background-image: url(background_szilvi.jpg) no-repeat;
    background-position: 100% 100% center;
    background-size: 120rem 59.375rem;
}
@media (min-width: 320px) {

	.hero {
	  background: url(background_szilvi.jpg) no-repeat center/cover;
	}
  
  }
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
	padding-top: 34.375rem;
	padding-left: 8%;
	padding-right: 8%;
    font-family: 'BioRhyme', serif;
    font-size: 1.2rem;
	
}
.logo{
	color: #659418;
	font-size: 1.75rem;
	letter-spacing: 0.063rem;
	cursor: pointer;
}
.name{
	color: #9b0917;
}
nav {
	padding-bottom: 2.5rem;
	align-items: center;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0.375rem 1.25rem;
	display: inline;
}
nav ul li a{
	color: #659418;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #4a0007;
	transition: .4s;
}
.btn{
	background-color:#282828;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	font-weight: bold;
	padding: 0.0.625 1.563rem;
	border-radius: 1.875rem;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
    padding-top: 17.5rem;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1 {
	color: #282828;
	margin: 1.25rem 0rem 1.25rem;
	font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
}
h3{
	color: #282828;
	font-size: 1.563rem;
	margin-bottom: 3.125rem;
}
h4{
	color: #659418;
	letter-spacing: 0.125rem;
    font-family: 'BioRhyme', serif;
	font-size: 1.25rem;
}
.flag-text {
	color:#4a0007;
}
.newslatter form{
	width: 23.75rem;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 0.875rem 8.125rem 0.875rem 0.938rem;
	border: 0.125rem solid #f9004d;
	outline: none;
	border-radius: 1.875rem;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 0.625rem 1.875rem;
	border-radius: 1.875rem;
	background-color:#f9004d;
	color: white;
	box-shadow: 0rem 0rem 0.313rem #000, 0rem 0rem 0.938rem #858585;
	top: 0.375rem;
	right: 0.375rem; 
}

.works-first{
	width: 100%;
	padding: 2.25rem 0rem;
	background-color: #282828;
}
.works-second{
	width: 100%;
	padding: 2.25rem 0rem;
    background-color: #659418;
}
.works-third{
	width: 100%;
	padding: 2.25rem 0rem;
	background-color: #4a0007;
}
.webdevelopement{
	width: 34.375rem;
	padding: 0rem;
	padding-bottom: 0.5rem;
    text-align: left;
}
.main{
	width: 70.0.625;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 1rem;
    text-align: left;
}
.webdevelopement h2{
	color: #659418;
	text-align: center;
    font-family: 'Playfair Display SC', serif;
	font-size: 3rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
}
.menu h2{
	color: #4a0007;
	text-align: center;
    font-family: 'Playfair Display SC', serif;
	font-size: 3rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
}
.menu h3{
	color: #282828;
	text-align: justify;
    font-family: 'Playfair Display SC', serif;
	font-size: 2.5rem;
	text-transform: capitalize;
	padding-bottom: 0.8rem;
	margin-bottom: 1rem;
}

.webdevelopement h5{
	color: #9b0917;
	letter-spacing: 0.125rem;
	font-size: 2rem;
	margin-bottom: 1.563rem;
	text-transform: capitalize;
    font-family: 'BioRhyme', serif;
}
.webdevelopement p{
	color: #659418;
	letter-spacing: 0.063rem;
	line-height: 1rem;
	font-size: 1rem;
	margin-bottom: 2.813rem;
}
.button1{
	background-color:#4a0007;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	padding: 0.813rem 1.875rem;
	border-radius: 1.875rem;
	transition: .4s;
    font-family: 'BioRhyme', serif;
    font-size: 1rem;
    margin-top: 1rem;
    
}
.button1:hover{
	background-color: transparent;
	border: 0.125rem solid #4a0007;
	cursor: pointer;
}
.button2{
	background-color:#659418;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	padding: 0.813rem 1.875rem;
	border-radius: 1.875rem;
	transition: .4s;
    font-family: 'BioRhyme', serif;
    font-size: 1rem;
    margin-top: 1rem;
}
.button2:hover{
	background-color: transparent;
	border: 0.125rem solid #659418;
	cursor: pointer;
}
.programing{
	width: 34.375rem;
	padding: 0rem;
	padding-bottom: 0.5em;
    text-align: left;
}
.buttonbox{
    text-align: center;
}
.menu{
	width: 70.0.625;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 1rem;
    text-align: left;
}
.programing {
	display: flex;
  }
  
  .programing img {
	margin-right: 10px;
	display: block;
	width: 30%;
	height: auto;
  }
  
  .programing h3, 
  .programing p {margin: 0;}

.programing h2{
	color: green;
    font-family: 'Playfair Display SC', serif;
	font-size: 2rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
}
.softskills h2{
	color: #9b0917;
	text-align: center;
    font-family: 'Playfair Display SC', serif;
	font-size: 3rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
}
.programing h5{
	color: #9b0917;
	letter-spacing: 0.125rem;
	font-size: 2rem;
	margin-bottom: 1.2rem;
	text-transform: capitalize;
    font-family: 'BioRhyme', serif;
}
.programing p{
	color: #4a0007;
	letter-spacing: 0.063rem;
	line-height: 1rem;
	font-size: 1.8rem;
	margin-bottom: 2.813rem;
	font-family: 'BioRhyme', serif;
}
.graphics h2{
	color: white;
    font-family: 'Playfair Display SC', serif;
	font-size: 2rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
}
.graphics{
	width: 34.375rem;
	padding: 0rem;
	padding-bottom: 0.5em;
    text-align: left;
}
.graphics h5{
	color: #9b0917;
	letter-spacing: 0.125rem;
	font-size: 2rem;
	margin-bottom: 1.563rem;
	text-transform: capitalize;
    font-family: 'BioRhyme', serif;
}
.graphics p{
	color: #659418;
	letter-spacing: 0.063rem;
	line-height: 1rem;
	font-size: 1rem;
	margin-bottom: 2.813rem;
}
.service{
	background: #659418;
	width: 100%;
	padding: 6.25rem 0rem;
}
.title h2{
	color: white;
	font-size: 4.688rem;
	width: 70.0.625;
	margin: 1.875rem auto;
	text-align: center;
    font-family: 'Playfair Display SC', serif;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25rem;
}
.card{
	height: 22.813rem;
	width: 20.938rem;
	padding: 1.25rem 2.188rem;
	background: #191919;
	border-radius: 1.25rem;
	margin: 0.938rem;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 3.125rem;
	display: block;
	text-align: center;
	margin: 1.563rem 0rem;
	color: #f9004d;

}
h5{
	color: #f9004d;
    font-family: 'BioRhyme', serif;
	font-size: 1.438rem;
	margin-bottom: 0.938rem;
}
.experience {
    color: white;
    font-family: 'Playfair Display SC', serif;
	font-size: 1.7rem;
	margin-bottom: 0.2rem;
}
.date{
	color: #659418;
    font-family: 'Playfair Display SC', serif;
	font-size: 1.3rem;
	margin-bottom: 0.2rem;
    margin-top: 1rem;
}
.place{
	color: white;
    font-family: 'Playfair Display SC', serif;
	font-size: 1.3rem;
    color: #659418;
	margin-bottom: 0.938rem;
}
.project{
    font-family:  'BioRhyme', serif;
    font-size: 1rem;
    margin-top: 0.8rem;
    color: white;
}
ul.a {
    list-style-type:disc;
    list-style-position: inside;
    font-family:  'BioRhyme', serif;
    font-size: 1rem;
    margin-top: 0.8rem;
    color: white;
  }
li.b{
    margin-top: 0.2rem;
}
hr.dotted {
    border-top: 2px dotted white;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}
.date-two{
	color: #659418;
    font-family: 'Playfair Display SC', serif;
	font-size: 1.3rem;
	margin-top: 1rem;
}
.date-three{
	color: #659418;
    font-family: 'Playfair Display SC', serif;
	font-size: 1.3rem;
	margin-top: 1rem;
}
.pra p{
	color: #659418;
	font-size: 1rem;
	line-height: 1.688rem;
	margin-bottom: 1.563rem;
}
.card .button{
	background-color:#4a0007;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	padding: 0.563rem 1.375rem;
	border-radius: 1.875rem;
	transition: .4s;
    font-family: 'BioRhyme', serif;
}
.card .button:hover{
	background-color: transparent;
	border: 0.125rem solid #659418;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 18.125rem;
	background: #4a0007;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-text {
	font-family:'BioRhyme', serif;
}
.contact-me p{
	color: white;
	font-size: 2.813rem;
	margin-bottom: 1.563rem;
    font-family: 'Playfair Display SC', serif;
}
.contact-me .button-two{
	background-color:#282828;
    font-family: 'BioRhyme', serif;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	padding: 0.813rem 1.875rem;
	border-radius: 1.875rem;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 0.125rem solid #659418;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 25rem;
	background: #282828;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
}
footer p:nth-child(1){
	font-size: 1.875rem;
	color: white;
	margin-bottom: 1.25rem;
    font-family: 'Playfair Display SC', serif;
}
footer p:nth-child(2){
	color: white;
	font-size: 1.063rem;
	width: 31.25rem;
	text-align: center;
	line-height: 1.0.625;
}
.social{
	display: flex;
}
.social a{
	width: 2.813rem;
	height: 2.813rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #659418;
	border-radius: 50%;
	margin: 1.375rem 0.625rem;
	color: #659418;
	text-decoration: none;
	font-size: 1.25rem;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#9b0917;
	bottom: 2.188rem;
	font-size: 1.125rem;
	font-family: 'BioRhyme', serif;
}
.email{
    color: #659418;
    font-size: 1.125rem;
	font-family: 'BioRhyme', serif;
}
.mail-text{
    color: white;
    font-size: 1.125rem;
    line-height: 1.5rem;
	font-family: 'BioRhyme', serif;
}
 .cvpage {
width: 100%;
padding: 6.25rem 0rem;
background-color: #282828;
}
.maintext {
	position: relative;
	padding-top: 0rem;
}
table, th, td {
	border: 0;
	padding-left: 1rem;
  }
.columnfirst {
	font-family: 'Playfair Display SC', serif;
	color: #659418;
	font-weight: bold;
	font-size: 1.3rem;
	padding-bottom: 1.5rem;
}
.columnsecond {
	font-family: 'Playfair Display SC', serif;
	color: #659418;
	font-size: 1.3rem;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
}
.rowsecond {
	font-weight: bold;
	font-size: 1.3rem;
}
.rowthird {
	margin-bottom: 1rem;
	font-size: 1.3rem;
	text-align: justify;
}
.rowfourth{
	font-size: 1.3rem;
	text-align: justify;
}
.additional{
	width: 42rem;
	padding: 0rem;
	padding-bottom: 0.5em;
    text-align: left;
}
.columnthird{
	font-family: 'Playfair Display SC', serif;
	color: #659418;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
}
